<html>
<head>
  <title>Saqib Imports</title>
  <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
</head>

  <body>
    <h1 id="logo"> SAQIB IMPORTS </h1>
    <div id="space"></div>
  <!-- <div class="navbar-wrapper">
    <div class="navbar-container">
      <div class="navbar navbar-inverse navbar-static-top"> -->

        <!--   <div class="navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
          <a class="navbar-brand" href="#">SAQIB IMPORTS</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="http://www.bootply.com" target="ext">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div> -->

      </div>
    </div><!-- /container -->
  </div><!-- /navbar wrapper -->

  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/machine.jpg" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1>Budget Friendly Machine Importer</h1>
            <p>Low price guaranteed</p>
            <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
            <!-- <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a> -->
          </p></pthis></div>
        </div>
      </div>
      <div class="item">
        <img src="assets/images/machine2.jpg" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1>60,000 Square Foot Warehouse</h1>
            <p>Located in Brooklyn, New York</p>
            <!-- <p><a id="purchase" class="btn btn-large btn-primary" href="#">Purchase</a></p> -->
          </div>
        </div>
      </div>
      <div class="item">
        <img src="assets/machine3.jpg" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1>$6,999</h1>
            <p>Contact Aresh at 631 885 3300</p>
            <!-- <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
  <!-- /.carousel -->

  <!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">



  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div id="f1" class="featurette">
    <img id="machine_f1" class="featurette-image img-circle pull-right" src="assets/machineboy.jpg">
    <h2 class="featurette-heading">Always™<span class="text-muted"><br>MJ6132J</span></h2>
    <p class="lead">The machine comes with a 12” blade but will take a 14” blade without modification and turns on a 1” arbor. A 1 hp scoring blade is also standard.    </p>
  </div>

  <hr class="featurette-divider">

  <div id="f2" class="featurette">
    <img id="machine_f2" class="featurette-image img-circle pull-left" src="assets/machine.jpg">
    <h2 class="featurette-heading"> Budget Friendly. <span class="text-muted"><br>Only $6,999.</span></h2>
    <p class="lead">Top of the line machinery. Excellent use for many shops or warehouses that deal with wood.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img id="machine_f3" class="featurette-image img-circle pull-right" src="assets/machine3.jpg">
    <h2 class="featurette-heading">Located  at 4290 1st Ave Brooklyn, NY 11232. <span class="text-muted"></span></h2>
    <p class="lead">Please contact Aresh at <br> 631 885 3300.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <!-- <footer>
    <p class="pull-right"><a href="#">Back to top</a></p> -->
    <!-- <p>This Bootstrap layout is compliments of Bootply. · <a href="http://www.bootply.com/62603">Edit on Bootply.com</a></p>
  </footer> -->

</div><!-- /.container -->
  </body>
</html>
