body {
  background-image: url("BITUBACK.jpg");
  /*background-position: center;*/

  background-repeat: no-repeat;
  background-size: 1310px 800px;

}

.machine {
  height: 310px;
  width: 620px;
  position: absolute;

}

.blue_back {
  height: 1000px;
  width: 1200px;
  margin: 0 auto;
  display: block;
  /*position: relative;*/
  /*z-index: -1;*/
}

#logo {
  font-family: 'Century', cursive;
  text-shadow:
  3px 3px 0 #FFFFFF,
  2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
  3px 3px 0 #444,
  4px 4px 0 #444,
  5px 5px 0 #444,
  8px 8px 0 #444; /* end of 4 level deep dark shadow */
  text-align: center;
  font-size: 80px;
  color: white;
  /*background: -webkit-linear-gradient(red, red);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */*/
  /*background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);*/

}

.blade {
  height: 100px;
  position: absolute;
  top: 10px;
  right: 460px;

}
/*
#box1 {
  height: 700px;
  width: 1100px;
  background-color: white;
  opacity: .9;
  border: 5px solid black;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 60px;
}


.enter {
  transition: .2s all;
  font-family: 'Sonsie One', cursive;
  color: black;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.enter:hover {

  font-size: 40px;
  color: white;
}

footer {
  height: 50px;
  background-color: white;
  display: block;
  margin: 0 auto;
  opacity: .9;

}
*/
#space {
  margin-top: 60px;

}
