body {
  background-image: url("cheetah.jpeg");
  background-repeat: no-repeat;
  background-size: 1510px 800px;
}
.machine {
  height: 310px;
  width: 620px;
  position: absolute;

}

.blue_back {
  height: 1000px;
  width: 1200px;
  margin: 0 auto;
  display: block;
}

#logo {
  font-family: 'Century', cursive;
  text-shadow:
  3px 3px 0 #FFFFFF,
  2px 2px 0 #CCC,
  3px 3px 0 #444,
  4px 4px 0 #444,
  5px 5px 0 #444,
  8px 8px 0 #444; /* end of 4 level deep dark shadow */
  text-align: center;
  font-size: 80px;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;

}

.blade {
  height: 100px;
  position: absolute;
  top: 10px;
  right: 460px;

}

#space {
  margin-top: 60px;

}


.carousel-inner {
position: relative;
width: 65%;
overflow: hidden;
display: block;
margin: auto;
}

#machine_f1 {
  height: auto;
  width: 800px;
}

#machine_f2, #machine_f3 {
  height: auto;
  width: 800px;
}

#machine_f3 {
  border-radius: 40%;
}

@media (max-width: 768px) {
  #machine_f1 {
    height: auto;
    width: 500px;
  }

}


.navbar-inverse {
background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
background-image: linear-gradient(to bottom, white -27%, black 46%, white 153%);
}

.navbar-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 981px;
}


.featurette-divider {
  color: black;

}
